@import "/src/styles/cores.scss";

.component {
  background-color: $dark-blue1;
  display: flex;
  justify-content: space-between;
  padding: 4vw;
  align-items: center;

  .logo {
    img {
      width: 15vw;
    }
  }
  .navbar {
    display: flex;
    font-family: "Raleway", sans-serif;
    cursor: pointer;

    :hover {
      font-weight: bold;
    }
    p {
      margin: 2vw;
      font-size: 0.8rem;
    }
  }
}

@media (max-width: 600px) {
  .component {
    padding: 4vh;

    .logo {
      img {
        width: 25vw;
      }
    }

    .navbar {
      p {
        font-size: 0.7rem;
      }
    }
  }
}
