// Font to Headings, Call-to-actions, Header Navigation
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
// Font to Body
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
//
@import "/src/styles/cores.scss";

//font-family: 'Raleway', sans-serif;
@import "/src/styles/cores.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  width: 100vw;
  background-color: $dark-blue2;
  color: white;
  font-family: "Open Sans", sans-serif;
  background-image: url('/images/bg-curvy-desktop.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

p {
  font-size: 0.9rem;
}

h3 {
  font-size: 1rem;
}

button {
  background: linear-gradient(90deg, rgba(101,226,217,1) 0%, rgba(79,195,211,1) 28%, rgba(51,158,204,1) 100%);
  border: none;
  padding: 2vh 6vw;
  border-radius: 50px;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  cursor: pointer;
    
  &:hover {
    opacity: 0.7;
    transition: 0.5s;
  }
}

@media (min-width: 1080px) {
  html {
    font-size: 110%;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 110%;
  }
}
