@import "/src/styles/cores.scss";

.component {
  background-color: $dark-blue3;

  .wrapper {
    display: flex;
    justify-content: space-around;
    padding: 4vw 4vw 0 4vw;
    height: 60vh;
    align-items: center;

    * {
      margin-right: 1vh;
      margin-top: 1vh;
    }

    .firstC {
      .logo {
        .logoIcon {
          img {
            width: 12vw;
            margin-bottom: 2vh;
          }
        }
      }

      .location {
        display: flex;
        width: 35vw;
      }
    }

    .contato {
      margin-top: 12vh;

      div {
        display: flex;
      }
    }

    .aboutus {
      display: flex;
      font-family: "Raleway", sans-serif;

      div {
        cursor: pointer;

        :hover {
          font-weight: bold;
        }
        p {
          margin: 2vw;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .component {
    .wrapper {
      flex-direction: column;
      padding: 0 3vh;
      align-items: flex-start;
      justify-content: unset;
      height: 90vh;
      padding-top: 20vh;

      * {
        margin-top: 2vh;
      }
      .firstC {
        .logo {
          .logoIcon {
            img {
              width: 40vw;
              margin-bottom: 2vh;
            }
          }
        }

        .location {
          width: 85vw;
        }
      }

      .contato {
        margin-top: 0vh;
      }
    }
  }
}
