@import "/src/styles/cores.scss";

.component {
  display: flex;
  padding: 0 5vw;

  .stayImage {
    img {
      width: 45vw;
    }
  }
  .stayText {
    padding: 0 5vw;
    margin-top: 10vh;

    h2 {
      font-size: 2rem;
    }

    p {
      font-size: 0.9rem;
      margin: 2vh 0;
    }
    .seeHow {
      display: flex;
      cursor: pointer;

      :hover {
        color: white;
        transition: 0.4s;

        .wrapper {
          border-bottom-color: white;
        }
      }

      h4 {
        color: $cyan;
        font-weight: 500;
      }
      .wrapper {
        border-bottom: 1px solid $cyan;
        margin-top: 5px;
        width: 13vw;
      }
      .arrow {
        display: inline;

        img {
          width: 2vw;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .component {
    padding: 0;
    flex-direction: column;
    align-items: center;

    .stayImage {
      img {
        height: 40vh;
        width: 90vw;
      }
    }

    .stayText {
      h2 {
        font-size: 1.3rem;
      }

      p {
        font-size: 0.8rem;
      }

      .seeHow {
        font-size: 0.8rem;

        .arrow {
          img {
            width: 5vw;
            height: 3vh;
          }
        }

        .wrapper {
          width: 30vw;
        }
      }
    }
  }
}
